.ue-mood {
	/*font-size: 14px;*/
	/*font-family: "Arial", "宋体";*/
}

.ue-mood table {
	width: 100%;
}

.ue-mood .total {
	color: red;
	font-weight: bold;
}

.ue-mood .item {
	/*font-size: 14px;*/
	color: #2b2b2b;
	cursor: pointer;
	text-align: center;
}

.ue-mood .rect-wrapper {
	position: relative;
	height: 70px;
	width: 33px;
	margin: 0 auto;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f7f7f7;
}

.ue-mood .item:hover .rect-wrapper {
	border: 1px solid #999;
}

.ue-mood .rect {
	position: absolute;
	bottom: 1px;
	left: 1px;
}

.ue-mood .smiley {
	cursor: pointer;
}
